<header>
  <mat-toolbar color="primary">King of the Hill</mat-toolbar>
</header>

<section class="container">
  <div class="row">
    <mat-card class="col-md-12">{{ red }}</mat-card> <!-- we use mat-card instead of div -->
    <mat-card class="col-md-12">{{ blue }}</mat-card>
    <mat-card class="col-md-12">3</mat-card> <!-- will be hidden on large screens -->
    <mat-card class="col-md-12">4</mat-card>
    <button mat-raised-button color="warn" (click)="redClick($event)">Red</button>
    <button mat-raised-button color="primary" (click)="blueClick($event)">Blue</button>
    <button mat-raised-button color="accent" (click)="resetClick($event)">Reset</button>
  </div>
</section>

<footer></footer>